<!-- recipe-list.component.html -->
<app-recipe-search (searchEvent)="searchRecipes($event)"></app-recipe-search>

<p *ngIf="noResultsMessage" class="text-red-500 text-center justify-center text-2xl ">{{ noResultsMessage }}</p>



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div *ngFor="let recipe of filteredRecipes" class="bg-white p-6 rounded-lg shadow-md">
        <div class="text-xl font-bold mb-4">{{ recipe.name }}</div>
        <div class="flex items-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="h-6 w-6 text-gray-500 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <span class="text-gray-700">{{ recipe.preparationTime }} minutes</span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div>
                <!-- Ingredients section -->
                <div class="mb-4">
                    <div class="font-bold text-gray-800 mb-2">Ingredients:</div>
                    <ul class="list-disc pl-4 text-gray-700">
                        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
                    </ul>
                </div>

                <!-- Preparation steps section -->
                <div>
                    <div class="font-bold text-gray-800 mb-2">Preparation Steps:</div>
                    <ol class="list-decimal pl-4 text-gray-700">
                        <li *ngFor="let step of recipe.preparationSteps">{{ step }}</li>
                    </ol>
                </div>


            </div>
            <!-- Random Recipe Image -->
            <div class="mt-6">
                <img [src]="randomMealImage" alt="Random Meal Image" class="w-full h-40 object-cover mb-4 rounded-lg">

            </div>

        </div>



        <!-- Edit and Delete buttons -->
        <div class="flex content-end justify-end items-end place-content-end">
            <button (click)="editRecipe(recipe)"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mr-2 focus:outline-none focus:shadow-outline">
                Edit
            </button>
            <button (click)="deleteRecipe(recipe.id)"
                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline">
                Delete
            </button>
        </div>
    </div>
</div>