<!-- header.component -->
<header class="bg-white/50 p-2 border-b-2 border-white/5 mb-2">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="assets/images/recipe.png" alt="Logo" class="h-10 w-10 mr-2">
            <span class="text-blue-900 text-lg font-semibold">Recipe Management</span>
        </div>

        <!-- Add your navigation links or other elements here -->
        <div class="flex items-center space-x-4">
            <!-- Example link -->
            <a routerLink="/" class="text-blue-900">Home</a>
            <a routerLink="/new-recipe" class="text-blue-900">New Recipe</a>
            <!-- Add more links as needed -->
        </div>
    </div>
</header>